#navigation.container_16
  .grid_14.prefix_2
    %ul
      %li 
        %a{:href => '/'} Home
      %li
        %a{:href => '/example'} Example
      %li
        %a{:href => '/launch'} Launch
      %li
        %a{:href => '/posts'} Resources
      %li
        %a{:href => '/contact'} Contact
