#navigation.container_16
  .grid_14.prefix_2
    %ul
      %li 
        %a{:href => '/'} Home
      %li
        %a{:href => '/news'} News
      %li
        %a{:href => 'http://rdoc.info/projects/jackhq/mercury'} Documentation
      
      %li
        %a{:href => 'http://github.com/jackhq/mercury'} Source

      %li
        %a{:href => '/posts'} Resources
      %li
        %a{:href => '/contact'} Contact
