= sass :default
= haml :header
= haml :navigation
= coffee :wolfgang

#home-content.container_12  
  .grid_7.prefix_2.suffix_3
    :markdown
      #News

      4/3/2010

      ## Haml and Sass 3 now enabled in Mercury

      We are happy to announce that you can now start using the new Haml and Sass 3, also SCSS.  You can find more details about these new technologies here [http://nex-3.com/posts/94-haml-sass-3-beta-released](http://nex-3.com/posts/94-haml-sass-3-beta-released)