= sass :default
= haml :header
= haml :navigation
= coffee :wolfgang

#home-content.container_12  
  .grid_7.prefix_2.suffix_3
    :markdown
      #News

      5/12/2010

      ## Haml and Sass 3 now enabled in Mercury

      * Haml 3 has been released, and Mercury now requires haml 3 as a dependency
      * Need an example check out [mercury-docs](http://github.com/jackhq/mercury-docs) 
      * Check out the posts section on the [Resources](/posts) page, for more information on coffeescript and markdown
      * [Check out](/launch) how to launch a mercury app on heroku 
      * Check out step by step [tutorial](/example2)